/******General styles******/
body {
  font-family: 'Karla', sans-serif;
  background-color: hsl(204, 43%, 93%);
  display: flex;
  justify-content: center;
  align-items: center;  
}

@media (min-width: 750px) {
  body {
    height: 100%;
  }
}

h1, h2, .subtitle, .price-amount, .content {
  margin-bottom: 1.5em;
}

.container {
  width: 90%;
  margin: 2em auto;
}

@media (min-width: 750px) {
  .container {
    max-width: 700px;
    width: 100%;
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;  
}

@media (min-width: 750px) {
  main {
    flex-direction: row;
    justify-content: space-between;
  }

  .price {
    width: 50%;
  }

  .list {
    width: 50%;
  }
}

/******Header styles*******/

header {
  background-color: #fff;
  padding: 2em;
}

h1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.2rem;
  font-weight: 700;  
}

.subtitle {
  color: hsl(71, 73%, 54%);
  font-weight: 700;  
}

header p {
  color: hsl(218, 22%, 67%);
  line-height: 1.5;
}

/******Main styles******/
main {
  color: #fff;
}

.price {
  background-color: hsl(179, 62%, 43%);  
  padding: 2em;
}

h2 {  
  font-weight: 700;  
}

.price-amount {
  display: flex;
  align-items: center; 
}

.amount {
  font-size: 1.5rem;
  font-weight: 700;  
}

.amount-ending {
  color: rgba(255, 255, 255, .8);  
  font-size: 0.8rem;
  margin-left: 1em;
}

button {
  border: 1px solid hsla(218, 22%, 67%, .9);
  border-radius: 5px;
  background-color: hsl(71, 73%, 54%);
  color: #fff;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  padding: 1em;
  margin-top: 2em;
  width: 90%;
  transition: 0.15s ease-in-out;
}

button:hover {
  background-color: hsl(71, 70%, 50%);
}

.list {
  background-color: hsl(179, 62%, 48%);
  padding: 2em;
}

.list ul {
  list-style-type: none;
}

.list li {
  font-size: 0.9rem;
  padding: .3em 0;
}

/*****Footer styles*****/

footer {
  padding: 0.5em;
}